/*Signup Page Styles Start*/

.signup-login-container {
	margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.signup-login-container a {
text-decoration: underline;
    color: black;
}

/*Signup Page Styles End*/

/*Login Page Styles Begin*/
.login-page-signIn-button {
	    width: 25%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem rgba(0,0,0,0.3);

  margin-top: 75px;
}

.login-page-signUp-button {
	width: 90vw;
    margin: auto;
    height: 8vh;
}

.login-page-forgotPasswordLink {
			margin-bottom: 5vh;
    text-decoration: underline;
    color: black !important;
    display: inline-block;
    width: 100%;
    min-width: 50%;
    text-align: center;
}

.login-page-iconStack {
	display: flex;
	margin: auto 5%;
}

.login-page-iconStack li {
	margin: 1%;
}

.login-page-iconStack li img {
	width: 20vw;
	
}
/*Login Page Styles End*/

/*Landing Page Styles Start*/
.landing-page-body {
	background: #fff;
}

.landing-page-logo-container {
  text-align: center;
  margin-top: 175px;
/*  margin-bottom: 75px;*/
	margin-bottom: 3vh;
}

.landing-page-create-button {
/*  width: 75%;*/
  margin-left: auto;
  margin-right: auto;
/*  height: 60px;*/
	border-radius: .3rem !important;
	    width: 90%;
    height: 10vh !important;
    box-shadow: 0.2rem 0.2rem rgba(0,0,0,0.3);
	font-size:16px;
	
}

.landing-page-footer-unsortedList {
	    text-align: center;
    line-height: 4vh;
    /* position: fixed; */
    /* bottom: 10%; */
    /* margin: 5%; */
    margin-top: 50% !important;
}

.landing-page-footer-unsortedList:before {
	background-color: unset !important;
}

.landing-page-footer-unsortedList:after {
	background-color: unset !important;
}

/*Landing Page Styles End*/

/*Template Page Styles*/
.template-page-body {
	background: #fff;
}

.template-page-h1 {
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	text-align: center;
	font-size: 1.5rem;
}

/*End of Template Page Styles*/

/*Start of New Invoice Page Styles*/
.newInvoice-page-type-select-text {
	font-family: 'Roboto', sans-serif !important;
	font-weight: bold;
	text-align:center;
}

.newInvoice-page-type-select-grid {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr) !important;
	grid-gap: 5vw !important;	
}

.newInvoice-addLogo-link {
	text-decoration: underline;
	width: 100%;
		padding: .5rem;
}

.newInvoice-page-items-pTag {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

.newInvoice-item-title {
	margin: auto !important;
	font-size: .9rem !important;
}

.newInvoice-page-content {
	background: #fff !important;
}

.newInvoice-totalBox {
	text-align:right;
	margin-right:8vw;
	
}

.newInvoice-totalBox p {
	margin:0;
}

.newInvoice-saveSendInvoiceButton{
	margin-top:2vh !important;
	width: 90vw !important;
    margin: auto;
    height: 6vh !important;
    box-shadow: 0.3vw 0.3vw rgba(0,0,0,0.3);
}


.newInvoice-block {
	padding: unset !important;
}

.newInvoice-currencyBox-h2 {
	margin: 0;
	position: relative;
}

.newInvoice-currencyBox-sup {
	position: absolute;
}
/*End of New Invoice Page Styles*/

